<button class="btn btn-success mt-4" routerLink="/user/{{userName}}/todo">Create new todo</button>
<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Description</th>
        <th scope="col">Target Date</th>
        <th scope="col">Satus</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <th scope="row">{{todo.id}}</th>
        <th>{{todo.username}}</th>
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate|date}}</td>
        <td>{{todo.isDone}}</td>
        <td><button class="btn btn-success btn-sm" (click)="onUpdate(todo.id)">Update</button></td>
        <td><button class="btn btn-danger btn-sm" (click)="onDelete(todo.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>