<div class="home-page">
  <p class="mt-4">
    Welcome, {{routeName|uppercase}}
  </p>
  <img *ngIf="!welcomeMessage && clickOnEvent && !error" src="assets/giphy.webp" width="100">
  <p [ngClass]="error?'text-danger':'text-success'">{{welcomeMessage}}</p>
  
  <div class="text-center mt-4">
    <div class="btn-custom">
      <button (click)="getWelcomeMessage()" class="btn btn-success">Get message</button>
      <button routerLink="todo" class="btn btn-warning">Create a new todo</button>
      <button routerLink="todos" class="btn btn-primary">Get all todos</button>
    </div>
    
  </div>
</div>

